body {
    height: 100px;
    overflow: hidden;
}

.background {
    position: relative;
    height: 324px;
    background-image: url("../back1.png");
    background-size: 115px;
    image-rendering: pixelated;
    top: 200px;
    z-index: -1;
}

.jousting-ground {
    margin: auto;
    background-color: transparent;
    width: fit-content;
    position: relative;
    top: -100px;
}

.jousting-p1 {
    position: relative;
    top: 20px;
    z-index: 1;
}

.jousting-tilt {
    display: flex;
    flex-direction: row;
    height: 50px;
    position: relative;
    top: -112px;
    z-index: 2;
}

.jousting-p2 {
    position: relative;
    top: -200px;
    z-index: 3;
}

.location {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.jousting-tilt img {
    height: 50px;
    image-rendering: pixelated;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    z-index: 10;
}

.cards img {
    border: none;
    background-color: transparent;
}

.cards h2 {
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 85px;
    left: 2px;
    z-index: 1;
}

.cards p {
    font-size: 60px;
    text-align: center;
    position: relative;
    top: -145px;
    z-index: 1;
}

.card {
    height: 340px;
    image-rendering: pixelated;
}

.pick-outcome {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    top: -400px;
}

.play {
    width: 200px;
    height: 50px;
    display: block;
    border: 6px outset brown;
}

.vic {
    background-color: rgb(135, 255, 71);
}

.vic:hover {
    position: relative;
    top: -2px;
    background-color: rgb(199, 255, 120);
}

.vic:active {
    background-color: rgb(135, 255, 71);
    border: 6px inset brown;
    position: relative;
    top: 0;
}

.def {
    background-color: rgb(253, 131, 75);
}

.def:hover {
    position: relative;
    top: -2px;
    background-color: rgb(255, 189, 123);
}

.def:active {
    background-color: rgb(253, 131, 75);
    border: 6px inset brown;
    position: relative;
    top: 0;
}

.draw-cards-button {
    width: 200px;
    height: 50px;
    display: block;
    margin: auto;
    border: 6px outset brown;
    background-color: rgb(234, 128, 79);
    position: relative;
    top: -400px;
}

.draw-cards-button:hover {
    background-color: rgb(245, 132, 94);
}

.draw-cards-button:active {
    background-color: rgb(208, 113, 69);
    border: 6px inset brown;
}

.character {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.visual-message {
    position: absolute;
    text-align: center;
    top: 30px;
    left: 47.3%;
    image-rendering: pixelated;
    width: 100px;
    height: 100px;
    overflow: visible;
}
.text-message {
    position: absolute;
    text-align: center;
    top: 30px;
    left: 42%;
    image-rendering: pixelated;
    width: 300px;
    height: 100px;
    overflow: visible;
}

.animation {
    height: 100px;
    image-rendering: pixelated;
    animation: sprite .5s steps(2) infinite;
}

.start-game {
    display: block;
    font-size: 3rem;
    text-align: center;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 600px;
}

.fallen {
    height: 100px;
    image-rendering: pixelated;
}

@keyframes sprite {
    from {
        transform: translate(0px,0)
    }
    to {
        transform: translate(-100%,0)
    }
}

.target {
  display: grid;
  grid-template-rows: repeat(16, 1fr); /* Creates 8 rows */
  grid-template-columns: repeat(16, 1fr); /* Creates 8 columns */
  gap: 0; /* Adjust the gap size as needed */
  width: fit-content;
}

.dotpos {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    position: relative;
    top: -220px;
    padding: 0 50px;  
}

.score p {
    font-size: 3rem;
}